<main class="showuserpage">
    <h3>Here is Your Account Information</h3>
    <p> User Name: <%=user.username%><br />
        Name: <%=user.name%><br />
        Email: <%=user.email%><br />
        <br>
        <% user.comments.forEach(comment => { %>
        <%=comment.title%><br />
        <%=comment.body%><br />
        <% }) %>
    </p>
    <a href="/Store/Users/<%=user._id%>/edit">Edit Your Account Information Here</a><br />
    <a href="/Store/logout">Log Out</a>
</main> 