<main class="showDept">
    <h3>Welcome to <%= Dept.name %> Department</h3>
    <h5>This Department Sells <%= Dept.productType %> Products.</h5>
    <section>
        <h3>Products</h3>
        <div class="container-fluid row">
            <% Dept.products.forEach(product => { %>
                <div class="card" style="width: 18rem;">
                    <img class="img-responsive" src="<%=product.img%>" class="card-img-top" alt="No Product Image">
                    <div class="card-body">
                      <h5 class="card-title float-center">$ <%=product.price%></h5>
                      <a href="/Store/Products/<%=product._id %>" class="btn btn-primary float-center"><%=product.name%></a>
                    </div>
                  </div><br />
            <% }) %>
        </div> <br />
        <div>
            <a class="btn btn-warning" href="/Store/Depts/<%=Dept._id %>/edit">Edit Department Info</a>
        </div>
        <div>
            <form action="/Store/Depts/<%=Dept._id%>?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete Department">
            </form>
        </div>
    </section>
</main>