<main class="showDept">
    <h3>Welcome to <%= Dept.name %> Department</h3>
    <h5>This Department Sells <%= Dept.productType %> Products.</h5>
    <section>
        <h3>Products</h3>
        <p>
            <% Dept.products.forEach(product => { %>
                <a href="/Store/Products/<%=product._id %>"><%= product.name %></a> <br />
            <% }) %>
        </p> <br />
        <a href="/Store/Depts/<%=Dept._id %>/edit">Edit Department Info</a>
        <form action="/Store/Depts/<%=Dept._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Department">
        </form>
    </section>
</main>