<main>
    <h1>Welcome to Product Info</h1>
    <section>
        <h2><%=products.name%></h3>
        <h4>This Product is part of <a href="/Store/Depts/<%=dept._id%>"><%=dept.name%></a> Department</h5>
        <div>
            <%= products.manufacturer %> is the manufacturer of this product.<br />
            The Price of <%= products.name %> is <%= products.price %>. <br />
            <% if (products.inStock === true) { %>
                <%= products.name %> is instock and available to buy. 
            <% } else { %>
                <%= products.name %> is Not available to buy.
            <% } %> <br/> 
        </div>
    </section>
</main>