<main>
    <h1>Welcome to Product Info</h1>
    <section>
        <h2><%=products.name%></h3>
        <h4>This Product is part of <a href="/Store/Depts/<%=dept._id%>"><%=dept.name%></a> Department</h5>
        <div>
            <%= products.manufacturer %> is the manufacturer of this product.<br />
            The Price of <%= products.name %> is <%= products.price %>. <br />
            <% if (products.inStock === true) { %>
                <%= products.name %> is instock and available to buy. 
            <% } else { %>
                <%= products.name %> is Not available to buy.
            <% } %> <br/> 
        </div>
        <div>
            <a href="/Store/Products/<%=products._id%>/edit">Edit this Product</a>
            <form action="/Store/Products/<%=products._id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Product"/>
            </form>
        </div>
        <form action="/Store/Products/<%=products._id%>" method="POST">
            <input type="text" name="title" required/><br />
            <input type="text" name="body" required/><br />
            <input type="submit" name="" value="Add Comment"/>
        </form>
        <div>
            <% products.comments.forEach(comment => { %>
                <p><strong><%=comment.title%></strong></p>
                <p><%=comment.body%></p>
                <form action="/Store/Comments/<%=comment._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Comment"/>
                </form>
            <% }) %>
        </div>
    </section>
</main>