<main>
    <h1>Welcome to Product Info</h1>
    <section>
        <h3><%=products.name%></h3>
        <div>
            <%= products.manufacturer %> is the manufacturer of this product.<br />
            The Price of <%= products.name %> is <%= products.price %>. <br />
            <% if (products.inStock === true) { %>
                <%= products.name %> is instock and available to buy. 
            <% } else { %>
                <%= products.name %> is Not available to buy.
            <% } %> <br/> 
        </div>
        <a href="/Store/Products/<%=products._id %>/edit">Edit Product Info</a>
        <form action="/Store/Products/<%=products._id%>?_method=DELETE" method="POST"><input type="submit"
                value="delete department"></form>
    </section>
</main>